body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, transparent 20%, #b075b6 20%, #b075b6 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #b075b6 20%, #b075b6 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#e4b5e9 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #e4b5e9 8px, transparent 8px) -4px 0;
    background-color: #b075b6;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
    user-select: none;
  }
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #222222;
    padding: 40px 60px;
  }
  
  h2 {
    font-size: 3em;
    color: #e598e5;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .reset {
    padding: 15px 20px;
    width: 100%;
    color: #b075b6;
    background-color: #f8f8f8;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
  }
  
  .reset:focus {
    color: #ec38bc;
    background-color: #262809;
  }
  
  .game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
  }
  
  .item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
  
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
  }
  
  .item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    /* opacity: 0.85; */
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
  }
  
  .item.boxOpen {
    transform: rotateY(0deg);
  }
  
  .boxOpen::after,
  .boxMatch::after {
    transform: rotateY(180deg);
  }